<p style="color: green"><%= notice %></p>

<table class="table-auto">
  <%= render @user %>
  <tr>
    <td class="py-4 px-3 text-sm font-medium whitespace-nowrap">
      <%= link_to "Edit this user", edit_user_path(@user) %>
    </td>
    <td class="py-4 px-3 text-sm font-medium whitespace-nowrap">
      <%= link_to "Back to users", users_path %>
    </td>
    <td class="py-4 px-3 text-sm whitespace-nowrap">
      <%= button_to "Destroy this user", @user, method: :delete %>
    </td>
  <tr>
<table>