<!DOCTYPE html>
<html>
  <head>
    <title>PersonalWebsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render 'home/header' %>
    <span>
      <h1 class="px-10 py-10 text-4xl font-normal leading-normal mt-0 mb-2">
        <%= controller_name.titleize %>
      </h1>
    <span>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
